@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Playfair+Display&family=Ysabeau:wght@1;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&family=Dancing+Script&family=Montserrat:wght@100;300;700&family=Playfair+Display&family=Ysabeau:wght@1;300&display=swap');
/* font-family: 'Dancing Script', cursive; */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
body{
    font-family: 'Cinzel', serif;
    background-color: #C38154;
  
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    /* background: black; */
    background-image: url(/images/fondo-header.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2409022c;
    z-index: 1000;
    width: 100%;
    /* margin: 0; */
    /* height: 100px; */
    /* background: #884A39;
    border: 1px solid #282828;*/
   
}
.logo{
    font-size: 24px;
    color: #EEC373;
    font-weight: 700;
    text-transform: uppercase;
}
.logo img{
    margin-left: 35px;
    width: 55px;
    height: 50px;
    position: relative;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: aqua;
    display: block;
    font-weight: bold;
}
.menu .navbar ul li a:hover{
    color: azure;
    transition: 2s;
    background: transparent;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-txt{
    text-align: center;
    margin-bottom: 45px;
    /* position: relative; */
}
.header-txt h1, span, h3 {
    font-size: 110px;
    /* position: relative; */
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    color: #C38154;
    margin-top: 50px;
    margin-bottom: 15px;
}
.header-txt p{
   color: aqua;
   padding: 0 250px;
   margin: 25px 0;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #884A39;
    color: #FFC26F;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 25px 0;
   border: 0;
}
.btn-1:hover {
    background-color: #FFC26F;
    color: #884A39;
    font-family: 'Montserrat', sans-serif;
    transition: 3s;
  
}
.header-dir{
    background: black;
    display: flex;
    /* position: relative; */
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}
.dir h3{
    font-size: 18px;
    color: #884A39;
}
.dir p {
    font-size: 22px;
    color: #EEC373;
    text-transform: uppercase;
}
.welcome {
    display: flex;
}
.welcome-1 {
    background-image: url(/images/fondo-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
}
.welcome-2 {
    width: 70%;
    padding: 150px 250px 150px 100px;
    background-color: #884A39;
}
h2{
    font-size: 70px;
    line-height: 100px;
    color: #FFC26F;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    margin-bottom: 20px;
    
}
p {
    font-size: 18px;
    color: #282828;
    /* font-weight: 600; */
    margin: 25px 0;
}
.b1{
    color: #282828;
    /* font-weight: 600;
    font-size: 18px;
    margin: 25px 0; */
}
.services {
    padding: 100px 0;
    text-align: center;
}


.services-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    border: 1px solid #884A39;
    width: 80px;
    margin: 0 auto;
}
.services-txt p{
    padding: 50px 150px;
     
}
.services-group{
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}
.services-1{
    background-color: #FFC26F;
    padding: 35px 25px;
    /* width: 30%; */
    margin: 0 10px;
    border-radius: 15px;
}
.services-1 img{
    width: 25px;
    margin-bottom: 15px;
}
.services-1 h3{
    font-size: 25px;
    color: #884A39;
}
.services-1 a{
    text-decoration: underline;
    color: #884A39;
    font-weight: 600;
    font-size: 18px;
}