@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Playfair+Display&family=Ysabeau:wght@1;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&family=Dancing+Script&family=Montserrat:wght@100;300;700&family=Playfair+Display&family=Ysabeau:wght@1;300&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
body{
    font-family: 'Cinzel', serif;
    background-color: #C38154;
  
}

html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}


/* /////////css para el header///////// */
.header{
  
    background-image: url(/images/fondo-header.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
  
   
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #EAC696;
    margin-top: 15px;
    display: block;
    transition: 1s;

}
.menu .navbar ul li a:hover{
    color: aliceblue;
    transition: 1s;
    background: transparent;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-txt{
    text-align: center;
    margin-bottom: 45px;
   
}
.header-txt h1, h3 {
    font-size: 110px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    color: #C38154;
    margin-top: 70px;
    margin-bottom: 15px;
}
#manu-cafe{
    color: aqua;
}
.header-txt p{
    color: #EAC696;
    background: #00000040;
    padding: 0 250px;
    margin: 25px 0;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #865439;
    color: #EAC696;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 25px 0;
    transition: 1s;
}
.btn-1:hover {
    background-color: #EAC696;
    color: #865439;
    transition: 1s;
  
}
.header-dir{
    background: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}
.dir h3{
    font-size: 18px;
    color: #884A39;
}
.dir p {
    font-size: 22px;
    color: #EAC696;
    text-transform: uppercase;
}
/* /////////css para el welcome///////// */
.welcome {
    display: flex;
}
.welcome-1 {
    background-image: url(/images/fondo-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
}
.welcome-2 {
    width: 70%;
    padding: 150px 250px 150px 100px;
    background-color: #884A39;
}
h2{
    font-size: 70px;
    line-height: 100px;
    color: #EAC696;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    margin-bottom: 20px;
    
}
.titulo-cafe{
    font-size: 70px;
    line-height: 100px;
    color: #884A39;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    color: #000000;
    margin: 25px 0;
}
.b1{
    color: #000000;
  
}
/* /////////css para el services///////// */
.services {
    padding: 100px 0;
    text-align: center;
}


.services-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    border: 1px solid #884A39;
    width: 80px;
    margin: 0 auto;
}
.services-txt p{
    padding: 50px 150px;
     
}
.services-group{
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}
.services-1{
    background-color: #FFC26F;
    padding: 35px 25px;
    margin: 0 10px;
    border-radius: 15px;
}
.services-1 img{
    width: 50px;
    margin-bottom: 15px;
}
.services-1 h3{
    font-size: 25px;
    color: #884A39;
}
.services-1 a{
    text-decoration: underline;
    color: #884A39;
    font-weight: 600;
    font-size: 18px;
}
/* /////////css para el prices///////// */
.prices{
    display: flex;
}
.prices-1{
    width: 50%;
    padding: 150px 250px 150px 100px;
    background-color: #884A39;
}
table{
    margin: 50px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F9E0BB;
    margin-bottom: 20px;
}
th{
    color: #EAC696;
    padding-bottom:15px;
}
td{
    color: red;
}
.prices-2{
    background-image: url(/images/cafes.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
/* /////////css para el personal///////// */
.personal{
    padding: 100px 0;
    text-align: center;
    background: #C38154;
   
}

.personal-txt{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-bottom: 25px;
}

.personal-group{
   display: flex;
   justify-content: space-between;
   margin-bottom: 35px;
}
.personal-1{
   text-align: center;
  
   
}
.personal-1 img{
    width: 65%;
    height: 50%;
    border: solid 1px #865439;
    border-radius: 15px;
    margin-bottom: 25px;

   
}
.personal-1 h3{
   font-size: 22px;
   color: #884A39;
   
}
.personal-1 p {
   padding: 0 50px;
   
}
.personal-1 a{
   color: #F9E0BB;
}
/* /////////css para el footer///////// */
.footer-txt{
    width: 100%;
    background: #282828;
    text-align: center;
    padding: 10px;
    
}
.footer-p{
    color: #865439;
}
.iconos{
    width: 60px;
    height: 60px;  
}
.footer-txt img{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 20px;
}
/* /////////css para el media///////// */
@media(max-width:991px) {
    .menu{
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left:0;
        right: 0;
        background-color: #865439;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header {
        min-height: 0vh;
     
    }
    .header-content {
        padding: 80px 30px 50px 30px;
        
    }
    .header-txt{
        margin-bottom: 15px;
       
    }
    .header-txt h1{
        
        font-size: 80px;
    }
    .header-txt p{
        padding: 0;
       
        margin: 15px 0;
    }
    .header-dir{
        flex-direction: column;
       
    }
    .dir p {
        font-size: 18px;
    }
    .welcome{
        flex-direction: column;
    }
    .welcome-1{
        display: none;
    }
    .welcome-2{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    h2{
        font-size: 40px;
        line-height: 80px; 
    }
    p{
        margin: 15px 0;
    }
    .services{
        padding: 30px;
    
    }
    .services-txt p {
        padding: 0;
    }
    .services-group{
        flex-direction: column;
        margin: 0;
    }
    .services-1{
        margin: 0 0 20px 0;
    }
    .prices{
        flex-direction: column;
    }
    .prices-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    table {
        margin: 25px 0 0 0;
    }
    .prices-2 {
        display: none;
    }
    .personal{
        padding: 30px;
    } 
    .personal-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .personal-1{
         margin-bottom: 25px;
    }
 
  
}

